{% extends 'face_login/base.html' %}

{% block content %}
    <h1<>Login Page</h1>

    <form action="" method="post">
        {% csrf_token %}
        <ul>
            {% for person in member_list %}
                <input type="submit" class="button-1" value="{{ person.user_name }}" name = "{{ person.user_id }}">
            {% endfor %}
        </ul>
        <input type="submit" class="button-1" value="学習" name = "1">
        <input type="submit" class="button-1" value="テスト" name = "3">
    </form>

{% endblock content %}